/* styles.css */
/* universal selector - Applies to whole document */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
	color: #fff;
}

body {
	background: #C5C6D0;
}

/* To center everything in game */
.game{
	display: flex;
	flex-direction: column;
	height: 750px;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

/* Title of the game */
.title{
	position: absolute;
	top: 0;
	font-size: 4rem;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Score Board */
.score{
    display: flex;

    justify-content: space-evenly ;
}

/* Score */
.p-count,.c-count{
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
	
}



/* displaying three buttons in one line */
.options{
	display: flex;

	justify-content: space-evenly;
	margin-top: 2rem;
}

/* Styling on all three buttons */
.rock, .paper, .scissor{
	padding: 0.8rem;
	width: 100px;
	border-radius: 10px;
	background: C5C6D0;
	outline: none;
	border-color: green;
	border: none;
	cursor: pointer;
}

.move{
	font-size: 2rem;
	font-weight: bold;
}

/* Reload button style */
.reload {
	display: none;
	margin-top: 2rem;
	padding: 1rem;
	background: green;
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.result{
	margin-top: 20px;
	font-size: 1.2rem;
}

/* Responsive Design */
@media screen and (max-width: 612px) {

	.title{
		text-align: center;
	}
	.score{
		position: absolute;
		top: 200px;
		
	}
	.options{
		width: 100vw;
	}

  .custombutton2 { 
    width:10px; 
    height: 10px;
	border-width: 10px;
	border-color: black;
	border-style: solid;
  }
  
  .customfooter {
    background-color: #2832C2;
    color: white;
	bottom: fixed;
  }
}

.fonth2 {
	font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.button-img {
    border: 2px solid white; /* You can adjust the border width and color */
    border-radius: 5px; /* Add rounded corners to the border if desired */
	padding: 5px;	
}


